@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css");

@theme {
  /* =====================
	     Font Families
	  ===================== */
  --font-pretendard:
    "Pretendard Variable", "Pretendard", system-ui, -apple-system,
    BlinkMacSystemFont;

  /* =====================
     Colors
  ===================== */
  --color-main-1: #020913;
  --color-main-2: #204470;
  --color-main-3: #487ecf;
  --color-main-4: #a1bff5;
  --color-main-5: #ffffff;
}
